/*style.css*/
body{
    color: rgb(20,20,20);
    background-color: gray;
    margin: 0px;
    font-family: 'Molengo', sans-serif;

}
h1{
    font-family: cursive;
    color: blue;
    font-family: 'Molengo', sans-serif;
}
p{
    font-size: 20px;
    line-height: 20px;
}

#my-header{
    text-align: center;
    padding-top: 151px;
    padding-bottom: 150px;
    color: white;
    background: url("http://lorempixel.com/1300/600/nightlife");
}
.feature{
    font-weight: 300;
    padding: 40px;
}
.feature img{
    padding: 20px;
    border: 2px solid black;
    border-radius: 50% ;
}
#footer{
    padding: 30px;
    background: rgb(30, 30, 30);
    color: lightgray;
}